{# layouts/default.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Derafu: Signature - Library for digital signatures{% endblock %}

{% block body %}
    {% block header %}
        <div id="header-container" class="sticky-top"></div>
    {% endblock %}

    {% block main %}
        <div class="container">
            <div class="row">
                <main class="col-md-9">
                    {% block content %}{% endblock %}
                </main>
                <div class="col-md-3 py-4">
                    <div class="list-group mb-4">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Package Info</div>
                                <span class="smal text-muted">
                                    <a href="https://github.com/derafu/signature" target="_blank" class="link-secondary text-decoration-none">
                                        <i class="fa-brands fa-github"></i>
                                        derafu/signature
                                    </a>
                                </span>
                                <div class="my-2">
                                    <img src="https://img.shields.io/github/stars/derafu/signature" alt="GitHub Repo stars">
                                    <img src="https://img.shields.io/github/forks/derafu/signature" alt="GitHub forks">
                                </div>
                            </div>
                        </li>
                        <a href="/" class="list-group-item list-group-item-action {% if request.uri.path == '/' %}active{% endif %}">
                            README
                        </a>
                    </div>
                    <div class="list-group mb-4">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                            <div class="fw-bold">Docs</div>
                            <span class="smal text-muted">Guides & Examples</span>
                            </div>
                        </li>
                        <a href="/signature-class" class="list-group-item list-group-item-action {% if request.uri.path == '/signature-class' %}active{% endif %}">
                            Signature Class
                        </a>
                        <a href="/signature-generator" class="list-group-item list-group-item-action {% if request.uri.path == '/signature-generator' %}active{% endif %}">
                            Signature Generator
                        </a>
                        <a href="/signature-validator" class="list-group-item list-group-item-action {% if request.uri.path == '/signature-validator' %}active{% endif %}">
                            Signature Validator
                        </a>
                        <a href="/signature-service" class="list-group-item list-group-item-action {% if request.uri.path == '/signature-service' %}active{% endif %}">
                            Signature Service
                        </a>
                        <a href="/xml-dsig-standard" class="list-group-item list-group-item-action {% if request.uri.path == '/xml-dsig-standard' %}active{% endif %}">
                            XML-DSIG Standard
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block footer %}
        <div id="footer-container"></div>
        <script src="https://derafu.org/js/derafu.js"></script>
    {% endblock %}
{% endblock %}
